<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Créditos</title>
</head>
<body>
    <header>
        <h1>Gerenciamento Escolar</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="cadastro_professor.html">Cadastrar Professor</a></li>
                <li><a href="cadastro_turma.html">Cadastrar Turma</a></li>
                <li><a href="cadastro_aluno.html">Cadastrar Aluno</a></li>
                <li><a href="listar_turmas.html">Listar Turmas</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section>
            <h2>Membros do Grupo</h2>
            <ul>
                <li>Rafael Borges - RA: 2300852</li>
                <li>Gabriel Tiago - RA: 2302915</li>
                <li>Gabriel Aparecido - RA: 2203242</li>
            </ul>
        </section>
    </div>
</body>
</html>